@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-mainBrand: #4b2aad;
  --color-darkBrand: #201445;
  --color-secondaryBrand: #9484c6;
  --color-fury: #f5efeb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
